APP_DOMAIN=mygram.com
API_DOMAIN=api.mygram.com
NEXT_PUBLIC_DEVICE_ID=YX-133P-001

CORS_ORIGINS=https://mygram.com,https://www.mygram.com

FRAME_PAIRING_TOKEN=CHANGE_ME_PAIRING_TOKEN
ADMIN_TOKEN=CHANGE_ME_ADMIN_TOKEN
UPLOADS_PER_MINUTE=30

# Docker: host.docker.internal (see docker-compose extra_hosts). Bare Node on host: 127.0.0.1
MQTT_URL=mqtt://device:framepass2026@host.docker.internal:1883
PUBLIC_BASE_URL=http://128.241.231.234:3001
FRAME_API_SECRET=framepass2026
FRAME_JWT_SECRET=framepass2026
